@use '@angular/material' as mat;

@mixin history-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, danger);
  $background: mat.get-color-from-palette(map-get($theme, background), background);
  $foreground: mat.get-color-from-palette(map-get($theme, foreground), foreground);

  .history-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .winner-list {
      overflow: auto;
      min-height: 10rem;
      max-height: 20rem;
      min-width: 30%;
      max-width: 50%;
      padding: 1.5rem;
      border-radius: 1rem;
      background-color: mat-color($accent);
    }
  }
}
