$primary-att-light: #ff2a6d;
$accent-att-light: #fc5a8f;
$background-att-light: #fff;
$foreground-att-light: #000;

// Dark-Theme Variables
$primary-att-dark: #e95959;
$accent-att-dark: #464a5a;
$background-att-dark: #080d23;
$foreground-att-dark: #fff;

// Shared Variables between all themes
$success: green;
$warn: red;
